# CUDA-enabled PyTorch stack (CUDA 12.1)
torch==2.1.2+cu121
torchvision==0.16.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# FAISS (CPU version)
faiss-cpu==1.11.0

# LLM and RAG dependencies
transformers==4.51.3
sentence-transformers==4.1.0
streamlit==1.40.1
pyngrok== 1.0.0
accelerate==1.6.0

# Utility packages
numpy<2.0
pandas==2.0.3
scikit-learn==1.6.1
PyMuPDF==1.24.11
